---
// src/pages/authors/[author].astro
import BaseLayout from '$layouts/BaseLayout.astro';
import { Markdown } from 'astro/components'
import AUTHOR from "$components/author.astro";
import PostPreviewCard from '$components/PostPreviewCard.astro';
import NavPagination from '$components/NavPagination.astro';
import Config from "$/website.config.cjs";
const authorData = Config.authors ?? [];
// console.log(JSON.stringify(authorData))
let authors = authorData.map(obj => {return obj.key})
// console.log(authors)

export async function getStaticPaths({paginate}) {
	const allPosts = await Astro.glob('../../posts/*.md');
	// let allAuthorsUnique = ['rnwolf']; //For testing
	let allAuthorsUnique = Config.authors.map(obj => {return obj.key});
	// console.log(allAuthorsUnique);

	return allAuthorsUnique.map((author) => {

	    const filteredPosts = allPosts.filter(post => post.frontmatter.authors.includes(author))
		.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));

    	return paginate(filteredPosts, {
      		params: { author },
			props: { count: filteredPosts.length },
      		pageSize: Config.pageSize
    	});
	});
};

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page, count} = Astro.props;
const params = Astro.params;

/** filter posts by author, sort by date */

const postauthor = authorData.filter( author => author.key === Astro.params.author)[0];

// console.log(JSON.stringify(postauthor));

---

<BaseLayout title="Throughput Focus home page" >

	<div class="pt-24 mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  		<div class="prose max-w-6xl mx-auto">
			<Markdown>

			# Authors

			Some blub about Authors for the site.

			</Markdown>

			<AUTHOR author={postauthor} count={count} />
			<div class="h-full px-6 py-12 lg:flex lg:justify-center lg:items-center">
				<div class="grid lg:grid-cols-2 gap-12 lg:gap-6">
					{page.data.map((post) => <PostPreviewCard post={post} />)}
				</div>
			</div>
		<NavPagination page={page} />
		</div>
	</div>
</BaseLayout>