---
import BaseLayout from '$layouts/BaseLayout.astro'

//export async function getStaticPaths({ paginate, rss }) {
export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.md');
  const sortedPosts = allPosts
    //.filter(post => !post.frontmatter.draft)
    .sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));

  // rss({
  //   title: "Sarah Rainsberger | Blog",
  //   description: "Writing by Sarah Rainsberger",
  //   customData: `<language>en-us</language>`,
    
  //   items: sortedPosts.map((item) => {
      
  //     const customData = `<guid  isPermaLink="true">https://rainsberger.ca${item.url}</guid>`

  //     return {
  //       title: item.frontmatter.title,
  //       description: item.frontmatter.description,
  //       link: item.url,
  //       pubDate: item.frontmatter.date,
  //       customData,
  //     }
  //   }),
    
  //   dest: "/rss.xml",

  // })

    return [
      paginate(sortedPosts, {pageSize: 5}),
    ];
 }

// The paginated data is passed as a prop to each page.
const { page } = Astro.props;

let myPosts = await Astro.glob('./*.md');
const mysortedPosts = myPosts.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));


---
<BaseLayout title="All Posts">

{JSON.stringify({page})}

<h1>Page {page.currentPage}</h1>
<ul>
  {page.sortedPosts.map(item => <li>{item.title}</li>)}
</ul>


    <!-- <h2> All Posts Archive</h2>
    <div>
      {mysortedPosts.map((post) => {
      
        return (
          <article>
            <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
            <p>{post.frontmatter.description}</p>
            <p>{post.frontmatter.excerpt}</p>
            <div style="display:flex;">
              {post.frontmatter.tags.map((tag) => <div><a href={`/tags/${tag}`}>{tag}</a></div>)}
            </div>
            <p>{new Date(post.frontmatter.datePublished).toISOString().slice(0, 10)}</p>
            <a href={post.url}>Read more</a>
            <hr>
          </article>
      )})}
    </div> -->
</BaseLayout>