---
import BaseLayout from '$layouts/BaseLayout.astro'

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.md');
  const data = allPosts.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));
    return paginate(data, {pageSize: 5});
}

// The paginated data is passed as a prop to each page.
const { page } = Astro.props;

// Direct access to the data
let myPosts = await Astro.glob('./*.md');
const mysortedPosts = myPosts.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));


---
<BaseLayout title="All Posts">

    {JSON.stringify({page})}

    <h2> Pagination check </h2>
    <p>{page.currentPage}</p> 
    <ul>
        {page.data.map(item => <li>{item.title}</li>)}
    </ul>


    <h2> All MY Posts</h2>
    <!-- <div>
      {mysortedPosts.map((post) => {
      
        return (
          <article>
            <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
            <p>{post.frontmatter.description}</p>
            <p>{post.frontmatter.excerpt}</p>
            <div style="display:flex;">
              {post.frontmatter.tags.map((tag) => <div><a href={`/tags/${tag}`}>{tag}</a></div>)}
            </div>
            <p>{new Date(post.frontmatter.datePublished).toISOString().slice(0, 10)}</p>
            <a href={post.url}>Read more</a>
            <hr>
          </article>
      )})}
    </div> -->

</BaseLayout>