---
// This is /pokemon/[...page].astro
export async function getStaticPaths({ paginate }) {
  // Load your data with fetch(), Astro.fetchContent(), etc.
  const allPosts = await Astro.glob('.././*.md');
  const data = allPosts.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));
  // Return a paginated collection of paths for all posts
  return paginate(data, { pageSize: 4 });
}

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page } = Astro.props;
---
{JSON.stringify({page})}
<br>
<strong>Posts:</strong>
<br>

{page.data.map(p => {
    return <a href={p.url} >View {p.url} {p.frontmatter.title}</a><br>;
})}

<br>

{page.url.prev && <a href={page.url.prev}>Previous page</a>}
{page.url.next && <a href={page.url.next}>Next page</a>}
<p>Current page: {page.currentPage} </p>
<p> per page: {page.size} </p>
<p> Last page: {page.lastPage} </p>