---
import BaseLayout from '$layouts/BaseLayout.astro';
import Hero from '$components/Hero.astro';
import HeroTwo from '$components/HeroTwo.astro';
import HeroThree from '$components/HeroThree.astro';
import ValueStack from '$components/ValueStack.astro';
import ValueStackNumbers from '$components/ValueStackNumbers.astro';
import FeatureThreeColumn from '$components/FeatureThreeColumn.astro';
import FeatureForRole from '$components/FeatureForRole.astro';
import StakesTextRight from '$components/StakesTextRight.astro';
import StakesTextLeft from '$components/StakesTextLeft.astro';
import NewsLetter from '$components/NewsLetter.astro';
import PictureTextRight from '$components/PictureTextRight.astro';
import PictureTextLeft from '$components/PictureTextLeft.astro';
import FeaturedBlogPosts from '$components/FeaturedBlogPosts.astro';
import FeaturedPosts from '$components/FeaturedPosts.astro';
import FeaturedPostsTwoCards from '$components/FeaturedPostsTwoCards.astro';
import FeaturedSelectedPostsTwoCards from '$components/FeaturedSelectedPostsTwoCards.astro';
import SiteBanner from '$components/SiteBanner.astro';
import Testimonials from '$components/Testimonials.astro';
import FAQ from '$components/FAQ.astro';

import Config from "$/website.config.cjs";


let postUrls = ["/posts/someblogpost0/","/posts/someblogpost1/","/posts/someblogpost2/"];

---

<BaseLayout title="Throughput Focus home page" 
description="A description from the home page." 
metaDescription="This is a comprehensive description that is intented for the social media cards."
metaTitle="SEO title goes here and is different to the page title."
metaImage="default-opengraph-image.png"
metaImageAlt="System throughput is determined by system constraint.">

    <SiteBanner short="This is a short text" long="This is a long piece of text" link="/contact" />

    <!-- <HeroThree
        imageUrl="https://images.unsplash.com/photo-1653202455903-76dd6fd92f78?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200"
        imageAlt="Sun Shining through clouds." 
        imageCreditHTML="Photo by <a href='https://unsplash.com/@hdbernd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Bernd Dittrich</a> on <a href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a>"
        bgcolour="bg-white-100" /> -->



    <HeroTwo 
        heading="Does it feel like you are playing 3D Tetris with your development teams?" 
        subtext="Findout how you can empower your teams to use constaints inherant in every organisational process to simplify and improve the flow of work." 
        link="/contact_form" 
        linkText="Talk to an Expert" 
        bgcolour="bg-white-100" />
    
    <!-- <FeaturedBlogPosts 
        heading="Featured posts" 
        subtext="Highlighted posts, and some info about why these are signigicant." 
        bgcolour="bg-white-100"
        featured={Config.featuredPosts} /> -->


    <!-- <FeaturedPosts 
        heading="Featured posts" 
        subtext="Highlighted posts, and some info about why these are signigicant." 
        bgcolour="bg-white-100"
        featured={Config.featuredPosts} /> -->

    <!-- <FeaturedPostsTwoCards 
        heading="Featured posts" 
        subtext="Highlighted posts, and some info about why these are signigicant." 
        bgcolour="bg-white-100"
        featured={Config.selectedPosts} /> -->

    <FeaturedSelectedPostsTwoCards 
        heading="Selected posts" 
        subtext="Selected posts, and some info about why these are signigicant." 
        bgcolour="bg-white-100"
        postUrls={postUrls} />

    <ValueStack 
        bgcolour="bg-white" 
        values={Config.valueStackButtons}/>

    <ValueStackNumbers 
        heading="This is a H2 heading" 
        subtext="This is a line of text to add something useful."
        values={Config.valueStackNumbers}/>
    
    <FeatureThreeColumn 
        heading="Heading goes here" 
        subtext="Some comments and info about why these are areas signigicant to the hero of the story." 
        bgcolour="bg-white-100"
        features={Config.featuresThreeColumn} />
    
    <FeatureForRole 
        heading='Whatever your job function or department' 
        subtext="we can help your team work together better." 
        bgcolour="bg-white-100"
        roles={Config.roleFeatures}/>
    
    <StakesTextRight 
        heading="Heading info here" 
        subtext="Some info about that is signigicant." 
        bgcolour="bg-white-100"
        stakes={Config.stakesForTextRight} />
    
    <StakesTextLeft 
        heading="Important points" 
        subtext="Highlighted posts, and some info about why these are signigicant." 
        bgcolour="bg-white-100"
        stakes={Config.stakesForTextLeft} />
    
    <PictureTextRight 
        heading="Heading for Text Right Hand side" 
        bgcolour="bg-white-100"
        paragraphs= {Config.paragraphsForPictureTextRight} />
    
    <PictureTextLeft 
        heading="Heading goes here on left side" 
        bgcolour="bg-white-100" 
        paragraphs= {Config.paragraphsForPictureTextLeft} />
    
    <NewsLetter 
        heading="Sign up for our newsletter" 
        subtext="Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui Lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat." 
        link='/api/submit' 
        linkText='Notify Me' 
        bgcolour="bg-white-100"  />
    
    <Testimonials 
        heading="What Tameflow fans say" 
        subtext="Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui Lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat." 
        bgcolour="bg-white-100"
        testimonials={Config.testimonials} />
    
    <FAQ />

</BaseLayout>