---
import { Icon } from 'astro-icon';

const { text, link, icon } = Astro.props;
---

<!-- <a href={link} class={`btn btn--${style}`}>{text}</a> -->

<!-- <div class="list-none hidden font-bold lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0">
    <a href={link} 
    class="no-underline text-white bg-blue-700 px-5 py-2.5 text-center mr-2 mb-2 rounded-md border border-transparent focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 hover:text-gray-300 focus:text-gray-300 active:text-gray-300"
    aria-label={text}>
    { icon && 
        <Icon size={16} name={icon}  />
    }
    {text}</a>
</div> -->
<!-- <a href={link} aria-label={text}>
<button type="submit" class="flex items-center bg-gray-500 text-white hover:bg-purple-500 p-2 rounded text-sm w-auto">
{ icon && 
        <Icon size={16} name={icon}  />
    }
  <span class="ml-2">{text}</span>
</button>
</a>
<a href={link} aria-label={text}>
<button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
{ icon && 
        <Icon size={16} name={icon}  />
    }
  <span class="ml-2">{text}</span>
</button>
</a> -->

<a href={link} aria-label={text}>
<button type="button" class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" >
{ icon && 
        <Icon size={16} name={icon}  />
    }
  <span class="ml-2">{text}</span>
</button>
</a>
