---
// Contact
import { Icon } from 'astro-icon';
import Config from "$/website.config.cjs";

---

<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
  <div class="relative max-w-xl mx-auto">


  <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Contact Us</h2>
      <p class="mt-4 text-lg leading-6 text-gray-500">Nullam risus blandit ac aliquam justo ipsum. Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.</p>

      <dl class="mt-8 text-base text-gray-500">
        <div>
          <dt class="sr-only">Postal address</dt>
          <dd>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <p itemprop="streetAddress">{Config.streetAddress}</p>
              <p itemprop="addressLocality">{Config.addressLocality}</p>
              <p itemprop="addressRegion">{Config.addressRegion}</p>
              <p itemprop="postalCode">{Config.postalCode}</p>
            </div>
          </dd>
        </div>
        <div class="mt-6">
          <dt class="sr-only">Phone number</dt>
          <dd class="flex">
            <Icon size={24} name='mdi:phone' aria-label="phone icon"/>
            <a href={"tel:"+Config.siteTelNumber}><span class="ml-3" itemprop="telephone">{Config.siteTelNumber}</span></a>
          </dd>
        </div>
        <div class="mt-3">
          <dt class="sr-only">Email</dt>
          <dd class="flex">
            <Icon size={24} name='mdi:email' aria-label="email icon"/>
            <span class="ml-3"> <a href={"mailto:"+Config.siteContactEmail} itemprop="email">{Config.siteContactEmail}</a></span>
          </dd>
        </div>
      </dl>
    </div>


    <div class="mt-12">
      <form action="/api/sendemail" method="POST" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
        <div>
          <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
          <div class="mt-1">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div>
          <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
          <div class="mt-1">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="company" class="block text-sm font-medium text-gray-700">Company</label>
          <div class="mt-1">
            <input type="text" name="company" id="company" autocomplete="organization" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <div class="mt-1">
            <input id="email" name="email" type="email" autocomplete="email" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
          <div class="mt-1">
            <textarea id="message" name="message" rows="4" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md"></textarea>
          </div>
        </div>
        <input type="hidden" name="_subject" value="Throughput Focus Website contact submission">
        <input type="hidden" name="_next" value={Config.siteUrl+"/thanks_contact.html"}>

        <div class="sm:col-span-2">
          <button type="submit" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Let's talk</button>
        </div>
      </form>
    </div>
  </div>
</div>