---
// https://tailwindui.com/components/marketing/sections/feature-sections
import { Icon } from 'astro-icon';
const { heading='Whatever your job function or department', subtext="we can help your team work together better.", bgcolour="bg-white" } = Astro.props;

const roles = [
  {
    description: 'Manager',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: 'mdi:cash-multiple',
    link: "/",
  },
  {
    description: 'Software Developer',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: 'mdi:alarm',
    link: "/",
  },
  {
    description: 'Finance',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: 'mdi:arrow-top-right-thick',
    link: "/",
  }
];
---

<!-- Start of FeatureForRole Component -->

<div class={"py-16 overflow-hidden " + bgcolour}>
    <div class="container m-auto px-6 space-y-8 text-red-900 md:px-12">
        <div>
            <h2 class="mt-4 text-2xl text-gray-900 font-bold md:text-4xl">{heading}</h2>
            <!-- <br class="lg:block" hidden>we can help your team work together better.  </h2> -->
            <span class="text-gray-600 text-lg font-semibold">{subtext}</span>
        </div>
        <div class="mt-16 grid border divide-x divide-y rounded-xl overflow-hidden sm:grid-cols-2 lg:divide-y-0 lg:grid-cols-3 xl:grid-cols-4">
            {roles.map(role => (
                <div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
                    <div class="relative p-8 space-y-8">
                        <div class="w-10"><Icon size={42} name={role.icon} /> </div>
                        
                        <div class="space-y-2">
                            <h3 class="text-xl text-gray-800 font-medium transition">{role.description}</h3>
                            <p class="text-sm text-gray-600">{role.text}</p>
                        </div>
                        <a href={role.link} class="flex font-bold justify-between items-center group-hover:text-yellow-900">
                            <span class="text-sm">How does this impact my role?</span>
                            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
                        </a>
                    </div>
                </div>
                ))
            }
           
            <div class="relative group bg-gray-100 transition hover:z-[1] hover:shadow-2xl lg:hidden xl:block">
                <div class="relative p-8 space-y-8 border-dashed rounded-lg transition duration-300 group-hover:bg-white group-hover:border group-hover:scale-90">
                    <div class="w-10"><Icon size={42} name='mdi:arrow-top-right-thick' /> </div>
                    
                    <div class="space-y-2">
                        <h3 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-900">More features</h3>
                        <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
                    </div>
                    <a href="#" class="flex font-bold justify-between items-center group-hover:text-yellow-900">
                        <span class="text-sm">Learn about more here</span>
                        <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of FeatureForRole Component -->