---
// https://tailwindcomponents.com/component/main-content-component
import Image from "astro-imagetools";

const { heading='Default Heading text goes here', subtext="Default subtext goes here" } = Astro.props;

const featured = [
  {
    heading: 'This is the post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    publishedDate: "2022-04-22T06:02:24+00:00",
    imageThumbnail: "https://picsum.photos/1024/768",
    imageDescription: "A picture of a woman",
    link: "/",
  },
  {
    heading: 'This is another post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    publishedDate: "2022-04-22T06:02:24+00:00",
    imageThumbnail: "https://picsum.photos/1024/768",
    imageDescription: "A picture of a man",
    link: "/",
  },
  {
    heading: 'This is another post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    publishedDate: "2022-04-22T06:02:24+00:00",
    imageThumbnail: "https://picsum.photos/1024/768",
    imageDescription: "A picture of a man",
    link: "/",
  },
];
---

<div class="py-12 md:px-20 sm:px-14 px-6">
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">{heading}</h2>
        <p class="lg:w-6/12 lg:mx-auto">{subtext}</p>
      </div>
  <div class="mt-6 md:flex space-x-6">

    {featured.map(feature => (

      <div>

        <div class="rounded-lg">
            <Image src={feature.imageThumbnail} alt="Image description goes here" loading="lazy">
        </div>
        <div>
          <h3  class="mt-3 text-gray-800 text-2xl font-bold my-2">{feature.heading}</h3>
          <p class="text-gray-700 mb-2">{feature.text}</p>
          <div class="flex justify-between mt-4">
            <span class="font-thin text-sm">{feature.publishedDate.slice(0,10)}</span>
            <a href={feature.link} class="mb-2 text-gray-800 font-bold">Find out more in blog post</a>
          </div>
        </div>
      </div>
      ))
    }
  

  </div>
</div>