---
// https://tailwindui.com/components/marketing/sections/feature-sections

import { Icon } from 'astro-icon';
const { heading='Default Heading text goes here', 
        subtext="Default subtext goes here", 
        bgcolour="bg-white",
        features = [
          {
            header: 'Header One here',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            icon: 'mdi:cash-multiple',
          },
          {
            header: 'Header Two here',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            icon: 'mdi:alarm',
          },
          {
            header: 'Finally header three',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            icon: 'mdi:arrow-top-right-thick',
          }
        ] 
      } = Astro.props;
---

<!-- Start of FeatureThreeColumns component -->
<div class={"py-12 " + bgcolour}>
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">{heading}</h2>
      <p class="mt-3 mb-6 text-xl text-gray-500 sm:mt-4">{subtext}</p>


      <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      
      {features.map(feature => (
        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <!-- Heroicon name: outline/globe-alt -->
              <Icon size={42} name={feature.icon} />
            </div>
            <h3 class="mt-4 text-2xl text-gray-900 font-bold md:text-4xl">{feature.header}</h3>
          </dt>
          <dd class="mt-2 text-base text-gray-500">{feature.text}</dd>
        </div>
          ))
      }
      </dl>
  </div>
</div>
<!-- End of FeatureThreeColumns component -->
