---
// https://tailwindcomponents.com/component/main-content-component
const { heading='Default Heading text goes here', subtext="Default subtext goes here", bgcolour="bg-white" } = Astro.props;

const featured = [
  {
    heading: 'This is the post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    imageThumbnail: 'https://tailus.io/sources/blocks/twocards/preview/images/woman.jpg',
    imageDescription: "A picture of a woman",
    link: "/",
  },
  {
    heading: 'This is another post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    imageThumbnail: 'https://tailus.io/sources/blocks/twocards/preview/images/man.jpg',
    imageDescription: "A picture of a man",
    link: "/",
  },
    {
    heading: 'This is the post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    imageThumbnail: 'https://tailus.io/sources/blocks/twocards/preview/images/woman.jpg',
    imageDescription: "A picture of a woman",
    link: "/",
  },
  {
    heading: 'This is another post heading',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    imageThumbnail: 'https://tailus.io/sources/blocks/twocards/preview/images/man.jpg',
    imageDescription: "A picture of a man",
    link: "/",
  },
];
---
<!-- Start of FearturedPostsTwoCards component -->
<div class={"py-16 " + bgcolour}>  
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">{heading}</h2>
        <p class="lg:w-6/12 lg:mx-auto">{subtext}</p>
      </div>

      <div class="grid gap-12 lg:grid-cols-2">

      {featured.map(feature => (

        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src={feature.imageThumbnail} alt={feature.imageDescription} loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h3 class="text-2xl font-semibold text-cyan-900">{feature.heading}</h3>
                <p class="text-gray-600">{feature.text}</p>
              </div>
              <a href={feature.link} class="block w-max text-cyan-600">See the blog post for more</a>
            </div>
          </div>
        </div>
        ))
      }

      </div>
  </div>
</div>
<!-- End of FearturedPostsTwoCards component -->