---
// import Image from "astro-imagetools";
const { heading='Default Heading text goes here', subtext="Default subtext goes here", link='/contact', linkText='Talk to an expert', bgcolour="bg-white" } = Astro.props;
---

<!-- Astro Component homepage hero section -->

<div class={"pb-8 sm:pb-12 lg:pb-12 " + bgcolour}>
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-12">
    <div
      class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24"
    >
      <div>
        <div class="mt-10">
          <div class="mt-6 sm:max-w-xl">
            <h1
              class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl"
            >
             {heading} 
            </h1>
            <p class="mt-6 text-xl text-gray-500">
              {subtext}
            </p>
          </div>
          <div class="mt-6">
              <a href={link} class="no-underline text-white bg-blue-700 px-5 py-2.5 text-center mr-2 mb-2 rounded-md border border-transparent focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 hover:text-gray-300 focus:text-gray-300 active:text-gray-300"
              aria-label={linkText}>{linkText}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div
        class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2"
      >
        <div class="hidden sm:block">
          <!-- <div
            class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"
          >
          </div> -->
          <svg
            class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0"
            width="404"
            height="392"
            fill="none"
            viewBox="0 0 404 392"
          >
            <defs>
              <pattern
                id="837c3e70-6c3a-44e6-8854-cc48c737b659"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-gray-200"
                  fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect
              width="404"
              height="392"
              fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
          </svg>
        </div>
        <div
          class="relative pl-4 sm:mx-auto sm:max-w-2xl sm:px-0 lg:absolute lg:max-w-2xl lg:h-full lg:pl-12 lg:left-0"
        >
          <!-- <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/top-nav-with-multi-column-layout-screenshot.jpg" alt=""> -->
          <img src="/images/tetris-hero-1200x628.png" alt="alt text" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of hero component -->