---
import { Img } from "astro-imagetools/components";
const { heading='Default Heading text goes here', subtext="Default subtext goes here", link='/contact_form', linkText='Talk to an expert', bgcolour="bg-white" } = Astro.props;
---

<!-- Astro Component homepage hero section -->
<!-- <div class={"container pb-8 sm:pb-12 lg:pb-12 " + bgcolour}> -->
  <div class="flex">
  <div class=" mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <!--Left Col-->
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
      <h1 class="font-bold text-3xl my-4">{heading}</h1>
      <p class="leading-normal mb-4">{subtext}</p>
      <a href={link} aria-label={linkText}>
        <button class="font-bold no-underline text-white bg-blue-700 px-5 py-2.5 text-center mr-2 mb-2 rounded-md border border-transparent focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 hover:text-gray-300 focus:text-gray-300 active:text-gray-300">{linkText}</button>
      </a>
    </div>

    <!--Right Col-->
    <div class="w-full lg:w-1/2 lg:py-6 text-center">
      <Img src="/images/tetris-hero-1200x628.png"
                alt="3D tetris blocks"
                sizes="(min-width: 1024px) calc(50vw - 3rem), (min-width: 640px) min(100vw - 3rem, 48rem), calc(100vw - 1rem)"
                loading="eager"
                placeholder="tracedSVG"
                format="webp">/>
    </div>
    
  </div>
</div>
<!-- End of Hero component -->