---
import BaseLayout from '$layouts/BaseLayout.astro'
import AUTHORS from '$components/authors.astro'
import TOC from '$components/toc.astro'
import { Icon } from 'astro-icon';


const {content} = Astro.props;
const postPublished = content.datePublished.slice(0,10);
const postUpdate = content.dateModified.slice(0,10);


// Code to provide links to next and previous published blog posts
let allPosts = await Astro.glob('../pages/posts/**/*.md')

allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.datePublished).valueOf() - new Date(a.frontmatter.datePublished).valueOf())
let postsNumber = allPosts.length
const thisUrl = new URL(Astro.request.url)
let nextUrl = ""
let nextTitle = ""
let prevUrl = ""
let prevTitle = ""
let addSlash = ""
let x=""

// console.log("Hello")
// console.log("Start:",nextUrl, nextTitle, prevUrl, prevTitle, addSlash,":end")

let envMode = import.meta.env.MODE

// console.log(envMode, postsNumber)

// https://github.com/withastro/astro/issues/1415 was a bug thats come back
if (envMode == "production") {  // Prior to beta 18 this needed to be development
  addSlash = "/"
}

for(let x = 0; x < postsNumber; x++) {
    // console.log(thisUrl.pathname)
    // console.log(allPosts[x].url + addSlash)
    if(thisUrl.pathname === allPosts[x].url + addSlash){

        if (x > 0) {
            nextUrl = allPosts[x-1].url
            nextTitle = allPosts[x-1].frontmatter.title
        }

        if (x < postsNumber - 1) {
            prevUrl = allPosts[x+1].url
            prevTitle = allPosts[x+1].frontmatter.title
        }

    }
}

console.log( ">" + ((content.openGraph.image.secureUrl) ) + "<" )
---

<!-- {JSON.stringify({headers})} -->

<BaseLayout title = {content.title} >

  <!-- <div class="relative overflow-hidden rounded-lg shadow-lg cursor-pointer">
	<img class="object-cover h-48" src="https://images.unsplash.com/photo-1502581827181-9cf3c3ee0106?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=420&q=80" alt="Flower and sky"/>

	<div class="absolute top-0 left-0 px-6 py-4">
	  <h4 class="mb-3 text-xl font-semibold tracking-tight text-white">This is the title</h4>
	  <p class="leading-normal text-gray-100">Lorem ipsum dolor, sit amet cons ectetur adipis icing elit. Praesen tium, quibusdam facere quo laborum maiores sequi nam tenetur laud.</p>
	</div>
  </div> -->

<!-- <section class="hero">
  <img src={content.openGraph.image.secureUrl} alt="Alt meta description of the image" class="w-full" />
  <div
    class="heading-container absolute flex justify-center items-center w-full"
  >
    <h1 class="text-5xl text-white">Your dream vacation starts here</h1>
  </div>
</section> -->

<!-- https://source.unsplash.com/user/erondu/1600x900 -->

{ content.openGraph.image.secureUrl && 
  <div class="bg-gray-200 overflow-auto">
      <div class="container px-6 py-4 mx-auto  ">
          <div class="flex items-center justify-center w-full mt-2 lg:h-96 ">
              <img class="object-cover w-full max-w-2xl rounded-md lg:h-full"
                  src={content.openGraph.image.secureUrl} alt="description of the photo">

                    <!-- <div class="heading-container absolute flex justify-center items-center w-full">
                      <h1 class="text-5xl text-white">Your dream vacation starts here</h1>
                    </div> -->
          </div>
      </div>
      <!-- <h1 class="text-4xl mb-2">{content.title}</h1>
      <time class="text-gray-600 block">{postPublished}</time>
      <div class="mt-2">
        <a class="bg-gray-800 px-2 py-1 mx-1 text-white rounded-lg" href="/tag/model">Model</a>
        <a class="bg-gray-800 px-2 py-1 mx-1 text-white rounded-lg" href="/tag/supplychain">Supplychain</a>
      </div> -->
  </div>

}

 <div class="mx-auto pt-8 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-12">
      <!-- <div class="bg-gradient-to-br  from-gray-200 to-gray-400 overflow-auto">
        <header class="tk-container py-8 text-center">
            <picture class="w-10/12 mx-auto mb-8 rounded-lg shadow-lg"> -->
                <!-- <source type="image/jpeg" srcset="/__phim/09858fdec855366371ce-sm.jpeg 480w" media="(max-width: 600px)"><source type="image/jpeg" srcset="/__phim/09858fdec855366371ce-md.jpeg 960w" media=""><source type="image/webp" srcset="/__phim/09858fdec855366371ce-sm.webp 480w" media="(max-width: 600px)"><source type="image/webp" srcset="/__phim/09858fdec855366371ce-md.webp 960w" media="">
                <img src="/__phim/09858fdec855366371ce.jpeg" class="w-10/12 mx-auto mb-8 rounded-lg shadow-lg" alt="Seasonal Forecasting - A basic model in 4 steps" width="1400" height="933"> -->
                <!-- <img src={content.openGraph.image.secureUrl}/> -->
            <!-- </picture> -->

        <!-- </header> -->
    <!-- </div> -->

    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
        <div class="prose max-w-none">
            <h1 class="text-4xl text-centre mb-3">{content.title}</h1>
            <ul>
              <li class="inline-flex items-center text-gray-600">
                <Icon size={24} name="mdi:calendar"  />
                <time class="ml-2 inline-flex items-center text-gray-600">First Published: {postPublished}</time>
              </li>

              <li class="mt-2 inline-flex items-center text-gray-600">
                <Icon size={24} name="mdi:tag"/>
                <a href="/tags" class="flex items-center">
                  <div class="mr-2">Tags:</div>
                </a>
                  {content.tags.map((tag) => <a class="bg-gray-800 px-2 py-1 mx-1 text-white rounded-lg" href={`/tags/${tag}`}>{tag}</a>)}
              </li>
            </ul>

            <p><em></em>{content.openGraph.description}<p><em></em>
            <!-- <p><em>{content.description}</em></p> -->
            <!-- <div >
                {content.tags.map((tag) => <div ><a href={`/tags/${tag}`}>{tag}</a></div>)}
            </div> -->
            <!-- <p>Written by: {content.author}</p> -->
            <!-- <img src={content.openGraph.image.secureUrl}> -->

            <TOC toc={content.astro.headers} />

            <article>
                <slot />
            </article>
            
            <AUTHORS authors={content.authors} />

    <div>
    <h2><a href="/posts/">Other posts</a></h2>
    {nextUrl &&
      <p>
        Published later: <a href=`${nextUrl}/`>{nextTitle}</a>
      </p>
    }

    {prevUrl &&
      <p>
        Published earlier: <a href=`${prevUrl}/`>{prevTitle}</a>
      </p>
    }
    </div>

        </div>
    </div>
</BaseLayout>